#menu{
    list-style-type: none;
    text-align: center;
  }
  
  #menu ul li{
    display: inline;
  }
  
  #menu ul li a{
    color: white;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px 25px 25px 25px;
    transition: background .3s;
  }
  
  #menu ul li:last-child a{
    float: right;
  }
  
  #menu ul li:first-child a{
    float: left;
  }
  
  #menu ul li a:hover{
    background-color: #2249c9;
    border-radius: 25px 25px 25px 25px;
  }
